<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" href="test.css" media="all">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
    
    
</head>

<body>
    <div class="animate-area">
        <div class="box-area">   
            <li></li><li></li><li></li><li></li><li></li><li></li><li></li>
            <div class="main">
                <div class="heading"><h1> Welcome to Gamification </h1></div>
                    <div class="heading1"><h2> This Application shows you a Leader-Board based on the score we project </h2></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 ">
                                    <div class="myblock1">
                                        <img  id="img" src="reward.png" height="100" width="100" > </img>
                                            <div class="badges">
                                                <img id="img-badge1" src="devil.png" height="50" width="50"> </img>
                                                <img id="img-badge2" src="spooky.png" height="50" width="50"> </img>
                                                <img id="img-badge3" src="hotpot.png" height="50" width="50"> </img>
                                                <img id="img-badge4" src="griffin.png" height="50" width="50"> </img>
                                            </div>
                                    </div>                                
                                </div>
                                <div class="col-sm-6" style="display: flex;">
                                    <div class="myblock2">
                                        <form name="achiev-form" action=" ">
                                        <label for="achievement">Achievement :</label> <br>
                                        <label for="score">Score :</label> <br>
                                        <label for="level">Level :</label> <br>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>        
        </div>    
    </div>

</body>

</html>